@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgb(2, 119, 155);
  font-family: 'Poppins', sans-serif;
}

.nav-logo {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: rgb(0, 255, 191);
}

.hello {
  margin-right: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.logout-btn {
  padding: 6px 12px;
  background-color: rgb(4, 168, 128);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover {
  background-color: #15dc89; /* Zıt renk */
}
